body {
 
    background-color: #4E4343;
    color:#D5C9C9;
    box-sizing: border-box;
    margin:40px 0px 0px 0px;
    height: 100%;    
    position: relative;
    padding:10px;
}


.results{

    text-align: center;
    
}
.info { 
    padding:10px;
    text-align: center;
    line-height: 20px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.img {
    width:250px;
    border:2px solid black;
    margin-top:10px;

}
.hidden {
    display:none;
}

.title {
    font-style: italic; 
}


input {
    width:200px;
    background:lightgray;
    border:1px black solid;
    padding:5px;
    margin:10px 10px 25px 0px;
}

button {
    background-color:#515A5A;
    color:white;
    padding: 5px;
    border-radius: 5px;
    display:inline;
    cursor: pointer;
}

#next{
    margin:10px;
}

.keyword{
    display:inline-block;
    margin:5px;
}

.container  {
text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:50px;
}

a:link{
color:#D5C9C9;
}
a:visited{
color:#D5C9C9

}

h1 {
    font-family: 'Quattrocento', serif;
}

p, h4, h3 {
    margin-block-end: 5px;
    margin-block-start: 5px;
}

.small{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: lighter;
}


footer  {
    position: relative;
    bottom: 0;
    left:0;
    color:wheat;
    text-align:center;
    width:100%;
    margin-top:40px;
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {


.img {
    width:400px;
 

}
.wrapper{
    width:700px;
}

.info{
    margin-right:auto;
    margin-left: auto;
}
/* DONT TOUCH */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

.img {
    width:60%;
 
}


h1 {
    font-size: 3em;
}

p, h3, h4 {
    font-size: 120%;
    margin-block-end: 5px;
    margin-block-start: 5px;
    line-height: 30px;
}

input {
    height: 20px;
}


.wrapper{
    width:600px;
}

 /*DONT TOUCH  */
}
