body   {
 
    padding:80px;
    background-color: #4E4343;
    color:#D5C9C9;
}

.results{

    float:right;
    clear:left;
}

.img {
    width:400px;
    border:5px double gray;
}
.hidden {
    display:none;
}

.title {
    font-style: italic;
}

input {
    width:200px;
    background:lightgray;
    border:1px black solid;
    padding:5px;
}

button {
    background-color: rgb(99, 89, 89);
    color:white;
    padding: 5px;
    border-radius: 5px;
}

a:link{
color:#D5C9C9
}
a:visited{
color:#D5C9C9

}

h1 {
    font-family: 'Quattrocento', serif;

}
h3, p {
    font-family: 'Fanwood Text', serif;

}